footer {
  color: #999;
  background: linear-gradient(to right, #830303, #5c0000);
  padding-top: 5px;
  padding-bottom: 0;
  text-align: center;
  height: 20px;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }
