@import '../../assets/styles/colors.sass'
@import '../../assets/styles/constants.sass'

footer
  color: $footer-color
  background: $footer-BG-gradient
  padding-top: 5px
  // padding-bottom: 0
  text-align: center
  height: $footer-height
  width: 100%
  border-top-left-radius: $border-radius
  border-top-right-radius: $border-radius
  border: $section-border
