// $header-BG-color1: #1a4c81
// $header-BG-color2: #022070
$header-BG-color1: #830303
$header-BG-color2: #5c0000

$BG-gradient: linear-gradient(to right, $header-BG-color1, $header-BG-color2)

$title-color1: green
$title-color2: yellow

$navbar-BG-color: #003d99

$navbar-link: #999
$navbar-link-active: white
$navbar-link-hover: white
$navbar-link-visited: #999

$footer-color: #999
$footer-BG: $header-BG-color1

$page-BG: #eee
$page-color: black

$grid-color1: rgba(0, 0, 0, 0)
$grid-color2: rgba(204, 170, 170, 0.4)
$grid-color3: rgba(224, 233, 249, 1)
