@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  src: local('Montserrat Bold'), url('./fonts/Montserrat/Montserrat-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: normal;
  src: local('Merriweather Regular'), url('./fonts/Merriweather/Merriweather-Regular.ttf') format('ttf');
}
